/*CSS DOCUMENT*/

img {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 2em;
}

div.image {
    padding: 10em;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10em;
}

body {
    background-color: #d2691e;
}

h1 {
    text-align: center;
    font-family: Roboto Slab Regular;
    color: #822222;
    font-size: 2.5em;
}

a {
    text-decoration: none;
    color: #f5f5dc;
}

.main ul {
    list-style-type: none;
    font-family: sans-serif;
    margin-top: 0.2em;
    margin-bottom: 1em;
    margin-right: auto;
    text-align: center;
    font-size: 2em;
    margin-left: auto;
}

.main li {
    text-align: center;
    display: inline;
    margin-left: 1em;
    margin-right: 1em;
}

h2 {
    font-size: 1.5em;
    font-family: Roboto Slab Thin;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

.address {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
}

h3 {
    font-family: Roboto Slab Thin;
    font-size: 1.45em;
    text-align: center;
    display: block;
    color: #000000;
}

.menu ul {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.menu h2 {
    text-align: center;
    font-size: 1.3em;
    font-family: Roboto Slab Thin;
}

ul li {
    text-align: center;
    list-style-type: none;
    font-family: Roboto Slab Thin;
    margin-right: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 0.9em;
}

p {
    text-align: center;
    font-family: Roboto Slab Thin;
    font-size: 1em;
    padding: 0em 0em 0em 0em;
    max-width: 40em;
    min-width: 15em;
    margin-left: auto;
    margin-right: auto;
}

.address {
    text-align-last: center;
    padding: 2em 0em 0em 0em;
}
