/*CSS DOCUMENT*/

body {
    background-color: rgb(220, 220, 220);
}

h1 {
    color: dimgrey;
    font-size: 2.5em;
    font-family: sans-serif;
    text-align: center;
}

h2 {
    color: dimgrey;
    background-color: whitesmoke;
    font-family: sans-serif;
    text-align: center
}

h3 {
    color: dimgrey;
    background-color: whitesmoke;
    font-family: sans-serif;
    font-size: 1.5em;
    text-align: center;
}

h4 {
    font-family: sans-serif;
    text-align: center;
}

p {
    font-style: serif;
    color: black;
}

li {
    padding: 1em 1em 0em 1em;
    text-align: center
}

.appetizers {
    color: rgb(128, 128, 128);
    text-align: center
}

.salads {
    color: rgb(128, 128, 128);
    text-align: center
}

.entrees {
    color: rgb(128, 128, 128);
    text-align: center
}

.dessert {
    color: rgb(128, 128, 128);
    text-align: center
}

.price {
    color: rgb(0, 0, 0);
    text-align: center
}